//colors
$light_blue:  #C7F7FF;
$med_blue: #89C0C9;
$dark_blue:   #3a5E63;
$light_brown: #C9A689;
$dark_brown  :#7C593C;
$light_grey  :#d4d4d4;
$dark_grey   :#222;
$white: #fff;

//fonts
$font_0: Josefin Sans;
$font_1: ‘Trebuchet MS’;
$font_2: Helvetica;
$font_3: sans-serif;
$font_4: Cardo;
$font_5: ‘Palatino Linotype’;
$font_6: ‘Book Antiqua’;
$font_7: Palatino;
$font_8: serif;


//queries
$phone-width: 701px;
$tablet-width: 900px;
$desktop-width: 1400px;